{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class ="content">
    <h1 style="text-align: center">Task Master</h1>
        <h3 style="text-align: left">Update Task</h3>
        <div class="form">
              <form role="form" method="POST" action="/update/{{task.id}}">
                <div class="card-body">

                    <div class="row">
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                          <label >Task Title</label>
                          <input placeholder="Task Title" class="form-control" type="text" name="content" id="content" value="{{task.content}}">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 px-md-1">
                        <div class="form-group">
                          <label>Task Details</label>
                          <input placeholder="Task Details" class="form-control" type="text" name="details" id="details" value="{{task.details}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" value="Update" class="btn btn-fill btn-primary">Update</button>
              </form>
        </div>
    </div>
{% endblock %}
